body {
	background-image: url("../images/brick-wall.jpeg");
/*	font-family: 'Amatic SC', cursive;
	font-weight: 700;*/
}

#images {
	margin-top: 20px;

}

#entryFormPanel {
	margin-top: 40px;
	float: left;

}

.image {
	max-width: 200px;
}

.btn {
	margin: 5px;
}

p {
	background-color: lightgray;
	font-size: 24px;
	margin-bottom: 0px;

	}	

.imageBox {
	width: 200px;
	height: 200px;
	float: left;
	margin: 20px;
}

#warmWelcome {
	margin-left: 0px;
	font-size: 36px;
	color: darkblue;
}